<div class="container">
  <div class="card">
    <h2>&#64;mdfrough/cnic-validator</h2>
    <form [formGroup]="form" class="form">
      <h3>Reactive Form</h3>
      <input formControlName="cnic" cnicValidator cnicMask />
      @if (form.get('cnic')?.errors?.['invalidCnic'] && form.get('cnic')?.touched) {
      <div>
        Invalid CNIC format
      </div>
      }

      <p>CNIC Pipe: {{ form.get('cnic')?.value | cnic }}</p>
    </form>


    <div class="form">
      <h3>Template Driven Form</h3>
      <input type="text" [(ngModel)]="cnic" cnicMask cnicValidator #cnicField="ngModel" required />
      @if (cnicField.touched && cnicField.errors?.['invalidCnic']) {
      <div>
        Invalid CNIC format
      </div>
      }
      <p>CNIC Pipe: {{ cnic | cnic }}</p>
    </div>
  </div>
</div>